body {
  background: pink;
}
#title {
  color: blue;
  font-size: 3em;
}

h2 {
  color: green;
  font-weight: normal;
}
h2 {font-style: italic;}

.completed {
  font-family: arial;
  font-style: italic;
}

#tasks .completed {
  background: #ccc;
  text-decoration: underline;
}
